/*encabezado*/
img {
margin-left: 200px;
}

li   {
list-style: none;
display: inline-block;
margin-left: 200px;
padding-top: 30px;
}

a {
text-decoration: none;
color: #484774;
margin-right:-150px;
}

/*formulario*/
.datos {
background-color: #BDE3EB;
height:400px;
}

.caja1 {
padding: 7px;
width: 100%;
}

h1 {
color: #484774;
margin-left: 200px;
padding-top: 20px;
}

p {
color: #484774;
margin-left: 170px;
margin-top: 50px;
padding: 30px;
}

.caja2 {
padding: 10px;
width: 50%;
margin-left:200px;
}

iframe {
width: 300px;
height: 300px;
padding: 80px;
}

form {
width: 300px;
height: 220px;
margin: auto;
padding: 10px 30px;
box-sizing: border-box;
margin-top: 30px;
background-color: gray;
border-radius: 10%;
}

input, textarea {
width: 100%;
margin-bottom: 20px;
padding: 7px;
}

h3 {
color: white;
text-align: center;
padding:10px;
}

.botoncito {
background-color: blue;
color: white;
}

/*footer*/
.derechos {
margin-top: -20px;
margin-left:180px;
}